 <launch>
 
     <!--- LOAD-IMU -->
     <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
         args="10 microstrain_mips microstrain.launch" name="timed_roslaunch" output="screen" />
     <!--<include file="$(find microstrain_mips)/launch/microstrain.launch" />-->

     <!--- velodyne_pointcloud -->
     <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
         args="10 velodyne_pointcloud VLP16_points.launch" name="timed2_roslaunch" output="screen" />
     <!--<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />-->

     <!--- lio_sam -->
     <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
         args="25 3d_mapping lio-sam-outdoor.launch" name="timed3_roslaunch" output="screen" />


 </launch>
